body {
	background-color: #f5f5f5!important;
	padding-bottom: 70px;
}

.navbar-toggle {
	background-color: white;
}

.navbar-toggle .icon-bar {
	background-color: black;
}

.cover {
	min-height: 49px;
    padding-left: 100px;
    background-color: white;
    border-left: 1px solid #e9eaed;
    border-radius: 6px;
}

.tab1 {
	border-right: 1px solid #e9eaed;
    float: left;
    font-weight: bold;
    height: 43px;
    line-height: 3.05;
    padding: 0 17px;
}

.well {
	background-color: white!important;
	border-radius: 10px!important;
}

.description {
	padding-left: 27px;
	padding-bottom: 7px;
	padding-top: 10px;
}

.feedImage {
	display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.divider {
	border-bottom: 2px solid #f0f0f0;
}

.list-inline>li:last-child {
    padding-left: 33px;
}

.layout {
	padding-top: 106px;
}

.nav>li>a:hover {
	background-color: #337AE8;
}

.profile-img {
	width: 100%;
	position: relative;
}

.profile-img {
  position: relative;
  top: 0;
  left: 0;
}
#coverPhoto {
  position: relative;
  top: 0;
  left: 0;
}

/*  navigation tab */
div.navigation-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  border:1px solid #ddd;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
div.navigation-tab-menu{
  padding-left: 0;
  padding-bottom: 0;
}
div.navigation-tab-menu div.list-group{
  margin-bottom: 0;
}
div.navigation-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.navigation-tab-menu div.list-group>a .glyphicon,
div.navigation-tab-menu div.list-group>a .fa {
  color: #337ab7;
}
div.navigation-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
}
div.navigation-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
}
div.navigation-tab-menu div.list-group>a.active,
div.navigation-tab-menu div.list-group>a.active .glyphicon,
div.navigation-tab-menu div.list-group>a.active .fa{
  background-color: #337ab7;
  color: #ffffff;
}

div.navigation-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #337ab7;
}

div.navigation-tab div.navigation-tab-content:not(.active){
  display: none;
}

.feedBlockUi {
	z-index: 1000;
    border: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    cursor: wait;
    position: fixed;

}

.feedBlockMsg {
	z-index: 1011;
    position: fixed;
    padding: 15px;
    margin: 0px;
    width: 30%;
    top: 40%;
    left: 35%;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    background-color: rgb(0, 0, 0);
    cursor: wait;
    border-radius: 10px;
    opacity: 0.5;
}


        